<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../static/css/404/index.css">
    <link rel="stylesheet" href="../static/css/404/content.css">

    <title>404 - 蓝雀字查</title>
</head>

<body>
    <h1 class="title">蓝雀字查</h1>
    
    <!-- 错误代码框 - 开始 -->
    <div class="err-msg-layer">
        <h1>404 错误
            <br>404 Not Found
        </h1>

        <!-- 返回主页提示 - 开始 -->
        <div class="back-to-homepage-prompt">
            <p>非常抱歉，出了一点问题 (._.)</p>
            <p>点击按钮返回主页吧！</p>

            <a href="\">
                <h4 class="button">返回主页</h4>
            </a>
        </div>
        <!-- 返回主页提示 - 结束 -->
    </div>
    <!-- 错误代码框 - 结束 -->
</body>

</html>